<div class="container">
  <h4>Forgot Password</h4>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="email" id="email" formControlName="email" placeholder="Email">
      <div
        *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
        class="error">
        Valid email is required.
      </div>
    </div>
    <div class="dialog-actions">
      <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
      <button type="submit" class="submit-button" [disabled]="forgotPasswordForm.invalid">Submit</button>
    </div>
  </form>
</div>