<div class="container">
  <div class="search-container">
    <h2>Search Dog by Status Code</h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div>
        <label for="status-code">Status Code</label>
        <input type="text" id="status-code" formControlName="statusCode"
          placeholder="Enter status code (e.g., 2xx, 203)">
        <div
          *ngIf="searchForm.get('statusCode')?.invalid && (searchForm.get('statusCode')?.dirty || searchForm.get('statusCode')?.touched)"
          class="error">
          Please enter a valid status code.
        </div>
      </div>
      <button type="submit" [disabled]="searchForm.invalid">Search</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="filteredDogs.length" class="dog-list">
      <h3>Dog List</h3>
      <div *ngFor="let dog of filteredDogs">
        <div *ngIf="dog.image?.jpg" class="dog-item">
          <img *ngIf="dog.image?.jpg" [src]="dog.image.jpg" alt="image error">
          <button *ngIf="dog.image?.jpg" (click)="saveDog(dog)">Save</button>
        </div>
      </div>
      <button (click)="toggleList()">Show Saved List</button>
    </div>
  </div>
  <div class="saved" *ngIf="showSavedList">
    <h3>Saved Dogs</h3>
    <ul>
      <li *ngFor="let savedDog of savedDogs"><img *ngIf="savedDog.image?.jpg" [src]="savedDog.image.jpg" alt="">
        <button *ngIf="savedDog.image?.jpg" (click)="deleteDog(savedDog)">Delete</button>
      </li>
    </ul>
  </div>
</div>